{% extends 'template.html' %}


<!-- title -->

{% block title %} Izsoļu vēsture {% endblock %}

<!-- content -->

{% block content %} 

<!--img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930"-->
<center>
    {% for listing in listings %}
        <a href="/prece/apskatit/{{listing.id}}">
            <div class="listing">
                <div class="listingImage">
                    <img 
                    src="{{listing.image}}" 
                    width= "256px"
                    height = "256px"
                    style="object-fit: cover;">
                </div>
                <div class="listingInfo">
                    <h1 class="name">{{listing.name}}</h1>
                    <h3 class="listingDescription">{{listing.description}}</h3>
                    <hr>
                    <h3><span class="info">Sākuma cena: </span><span class="startPrice">{{listing.startPrice}}</span></h3>
                    <h3><span class="info">Cenas kāpums: </span><span class="priceIncrease">{{listing.priceIncrease}}</span></h3>
                    <h3><span class="info">Izsoles statuss: 
                        
                    </span><span class="auctionDate">
                        {% if listing.auctionStatus == 0 %}
                            Jāgaida lai pievienotos
                        {% elif listing.auctionStatus == 1 %}
                            Var pievienoties
                        {% elif listing.auctionStatus == 2 %}
                            Vairs nevar pievienoties
                        {% else %}
                            Beigusies
                        {% endif %}
                    </span></h3>
                    <h3><span class="Date">Izsoles laiks: {{listing.auctionTime}}</span></h3>
                </div>
            </div>
        </a> <br>
    {% endfor %}
</center>
<style>
    a
    {
        text-decoration: none;
        color: #ADA8BE;
    }
    .listing
    {
        background-color: transparent;
        width: 80%;
        height: 256px;
    }

    hr
    {
        border-bottom:none;
        border-left: none;
        border-right: none;
        border-top-width: 3px;
        border-top-color: black;
        background-color: black;
    }

    .listingImage
    {
        float: left; 
        width: 256px;
    }

    .listingInfo
    {
        overflow: hidden; 
        margin-left: 356px;
        text-align:left;
        text-decoration: none;
    }

    .startPrice
    {
        color: #A28497;
        text-decoration: none;
    }

    .priceIncrease
    {
        color: #A28497;
        text-decoration: none;
    }

    .auctionDate
    {
        color: #A28497; 
        text-decoration: none;
    }

    .info
    {
        color: #A28497;
        text-decoration: none;  
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
    setInterval(function() {
        $.ajax({
        url: "/prece/check_updates",
        type: "GET",
        success: function(data) {
            // Update the page content with the new data
            // For example, you can use jQuery to update the table rows
            $.each(data, function(index, listing) {
            var row = $("div[data-id='" + listing.id + "']");
            row.find(".name").text(listing.name);
            row.find(".description").text(listing.description);
            row.find(".startPrice").text(num.toFixed(listing.startPrice));
            row.find(".priceIncrease").text(num.toFixed(listing.priceIncrease));
            row.find(".auctionTime").text(listing.auctionTime);
            row.find(".auctionStatus").text(listing.auctionStatus);
            if(listing.auctionStatus === 0)
            {
                row.find(".auctionStatus").text("izsole gaida ");
            }
            else if(listing.auctionStatus === 1)
            {
                row.find(".auctionStatus").text("izsole sākas");
            }
            else if(listing.auctionStatus === 2)
            {
                row.find(".auctionStatus").text("izsole progresā");
            }
            else
            {
                row.find(".auctionStatus").text("izsole beidzās");
            };
            });
        }
        });
    }, 5000);
    });
</script>
{% endblock %}