{% extends 'template.html' %}


<!-- title -->

{% block title %} Izsoļu vēsture {% endblock %}

<!-- content -->

{% block content %} 

<!--img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930"-->
<center>
    {% for listing in listings %}
        <a href="/prece/apskatit/{{listing.id}}">
            <div class="listing">
                <div class="listingImage">
                    <img 
                    src="{{listing.image}}" 
                    width= "256px"
                    height = "256px"
                    style="object-fit: cover;">
                </div>
                <div class="listingInfo">
                    <h1 class="listingTitle">Pārdodu lietotu Audi A6</h1>
                    <h3 class="listingDescription">Lietots audi A6. Nobraukti 160,000 km, bet vēljoprojām brauc kā jauns. Mainīts bampers.</h3>
                    <hr>
                    <h3><span class="info">Sākuma cena: </span><span class="startPrice">{{listing.startPrice}}</span></h3>
                    <h3><span class="info">Cenas kāpums: </span><span class="priceIncrease">{{listing.priceIncrease}}</span></h3>
                    <h3><span class="info">Izsoles statuss: 
                        
                    </span><span class="auctionDate">
                        {% if listing.auctionStatus == 0 %}
                            Jāgaida lai pievienotos
                        {% elif listing.auctionStatus == 1 %}
                            Var pievienoties
                        {% elif listing.auctionStatus == 2 %}
                            Vairs nevar pievienoties
                        {% else %}
                            Beigusies
                        {% endif %}
                    </span></h3>
                </div>
            </div>
        </a> <br>
    {% endfor %}
</center>
<style>
    a
    {
        text-decoration: none;
        color: #ADA8BE;
    }
    .listing
    {
        background-color: transparent;
        width: 80%;
        height: 256px;
    }

    hr
    {
        border-bottom:none;
        border-left: none;
        border-right: none;
        border-top-width: 3px;
        border-top-color: black;
        background-color: black;
    }

    .listingImage
    {
        float: left; 
        width: 256px;
    }

    .listingInfo
    {
        overflow: hidden; 
        margin-left: 356px;
        text-align:left;
        text-decoration: none;
    }

    .startingPrice
    {
        color: #A28497;
        text-decoration: none;
    }

    .priceIncrease
    {
        color: #A28497;
        text-decoration: none;
    }

    .auctionDate
    {
        color: #A28497; 
        text-decoration: none;
    }

    .info
    {
        color: #A28497;
        text-decoration: none;  
    }
</style>
{% endblock %}