{% extends 'template.html' %}

{% block content %} 

{% for listing in listings %}
<a href="/prece/apskatit/{{listing.id}}">
    <div class="Listing" data-id="{{ listing.id }}">
        <div class="ListingInfo">
            <center>    
                <h3 class="name">{{ listing.name }}</h3>
                <p class="description">{{ listing.description }}</p>
                <p>Cena: <span class="startPrice">{{ listing.startPrice }}</span> EUR ar kāpumu <span class="priceIncrease">{{ listing.priceIncrease }}</span></p>
            </center>
        </div>
        <div class="ListingImage">
            <center>    
                <img class="listingImage" src="{{listing.image}}">
            </center>
        </div>
        <center>
            Izsole notiks <span class="auctionTime">{{ listing.auctionTime }}</span> <br>
            {% if listing.auctionStatus == 0 %}
                izsole gaida 
            {% elif listing.auctionStatus == 1 %}
                izsole sākas
            {% elif listing.auctionStatus == 2 %}    
                izsole sākusies
            {% elif listing.auctionStatus == 3 %}
                izsole beigusies
            {% endif %}
            <span class="auctionStatus">{{ listing.auctionStatus }}</span>
        </center>
    </div>
</a>
{% endfor %}

<style>
    .Listing
    {
        background-color: #4267B2;
        margin-bottom: 10px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
        border-radius: 6px;
        color: white;
    }
    .ListingInfo
    {
        font-size:x-large;
    }
    .ListingImage
    {
        padding-bottom: 10px;
    }
    .listingImage
    {
        width: 20vw;
        height: 20vw;
        object-fit: cover;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
    setInterval(function() {
        $.ajax({
        url: "/prece/check_updates",
        type: "GET",
        success: function(data) {
            // Update the page content with the new data
            // For example, you can use jQuery to update the table rows
            $.each(data, function(index, listing) {
            var row = $("div[data-id='" + listing.id + "']");
            row.find(".name").text(listing.name);
            row.find(".description").text(listing.description);
            row.find(".startPrice").text(listing.startPrice);
            row.find(".priceIncrease").text(listing.priceIncrease);
            row.find(".auctionTime").text(listing.auctionTime);
            row.find(".auctionStatus").text(listing.auctionStatus);
            });
        }
        });
    }, 5000);
    });
</script>
{% endblock %}