{% extends 'template.html' %}


<!-- title -->

{% block title %} Izsoles {% endblock %}

{% block heading %}

<style>
    a
    {
        text-decoration: none;
        color: #ADA8BE;
        line-height: 0.8;
    }
    .listing
    {
        background-color: transparent;
        width: 80%;
        height: 256px;
    }

    hr
    {
        border-bottom:none;
        border-left: none;
        border-right: none;
        border-top-width: 3px;
        border-top-color: black;
        background-color: black;
    }

    .listingImage
    {
        float: left; 
        width: 256px;
    }

    .listingInfo
    {
        overflow: hidden; 
        margin-left: 356px;
        text-align:left;
        text-decoration: none;
    }

    .startPrice
    {
        color: #A28497;
        text-decoration: none;
    }

    .price
    {
        color: #A28497;
        text-decoration: none;
    }

    .auctionDate
    {
        color: #A28497; 
        text-decoration: none;
    }

    .info
    {
        color: #A28497;
        text-decoration: none;  
    }
</style>

{% endblock %}

<!-- content -->

{% block content %} 

<!--img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930"--></center>
<center>
    {% for listing in listings %}
        <a href="/prece/apskatit/{{listing.id}}">
            <div class="listing">
                <div class="listingImage">
                    <img 
                    src="{{listing.image}}" 
                    id="image{{listing.id}}"
                    width= "256px"
                    height = "256px"
                    style="object-fit: cover;">
                </div>
                <div class="listingInfo">
                    <h1 class="name" id="name{{listing.id}}">{{listing.name}}</h1>
                    <h3 class="description" id="description{{listing.id}}">{{listing.description}}</h3>
                    <hr>
                    <h3><span class="info">Sākuma cena: </span><span class="startPrice" id="startPrice{{listing.id}}">{{listing.startPrice}}</span></h3>
                    <h3><span class="info">Cena: </span><span class="price" id="price{{listing.id}}">{{listing.price}}</span></h3>
                    <h3><span class="info">Izsoles statuss: 
                        
                    </span><span class="auctionDate" id="auctionStatus{{listing.id}}">
                        {% if listing.auctionStatus == 0 %}
                            izsole gaida
                        {% elif listing.auctionStatus == 1 %}
                            izsole sākas
                        {% elif listing.auctionStatus == 2 %}
                            Izsole progresā
                        {% else %}
                            izsole beidzās
                        {% endif %}
                    </span></h3>
                    <h3><span class="Date">Izsoles laiks: {{listing.auctionTime}}</span></h3>
                </div>
            </div>
        </a> <br>
    {% endfor %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
    setInterval(function() {
        $.ajax({
        url: "{{url_for('listing.dbUpdate')}}",
        type: "GET",    
        success: function(data) {
             $.each(data, function(index, listing) {
            var row = $("div[data-id='" + listing.id + "']");
            if(document.getElementById("name"+listing.ident)){
                document.getElementById("name"+listing.ident).innerHTML = listing.name;
                document.getElementById("description"+listing.ident).innerHTML = listing.description;
                document.getElementById("image"+listing.ident).src = listing.image; 
                document.getElementById("price"+listing.ident).src = listing.price;
                if(listing.auctionStatus === 0)
                {
                    document.getElementById('auctionStatus'+listing.ident).innerHTML = "izsole gaida";
                }
                else if(listing.auctionStatus === 1)
                {
                    document.getElementById("auctionStatus"+listing.ident).innerHTML = "izsole sākas";
                }
                else if(listing.auctionStatus === 2)
                {
                    document.getElementById("auctionStatus"+listing.ident).innerHTML = "izsole progresā";
                }
                else
                {
                    document.getElementById("auctionStatus"+listing.ident).innerHTML = "izsole beidzās";
                };
            }   
            });
        }
        });
    }, 1000);
    });
</script>
{% endblock %}