{% extends 'template.html' %}

{% block pirkumi %}active{% endblock %}

{% block content %} 
<style>
    .listing {
        background-color: rgba(44, 21, 0, 0.219);
        border-color: rgb(95, 57, 7);
        border-style: none;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        padding: 5px;
    }
    a {
        text-decoration: none; 
        color: inherit;     
    }
</style>
<center>
    {% if activeListings %}
        <h3>Aktīvās izsoles:</h3>
        {% for listing in activeListings %}
            <a id="listing{{listing.id}}">
                <div class="listing">
                    <h4>{{listing.name}}</h4><br>
                    <h5>{{listing.description}}</h5><br>
                    <span id="Price{{listing.id}}">Cena: {{"%.2f"|format(listing.price|float)}}</span><br>
                    Kāpums: {{"%.2f"|format(listing.priceIncrease|float)}}<br>
                </div>
            </a>
            <a href="/prece/piesolit/{{listing.id}}">
                <button>piesolīt</button> <br>
            </a>
            <a href="/prece/iziet/{{listing.id}}">
                <button>atcelt</button> <br>
            </a>
        {% endfor %}
    {% endif %}

    {% if waitingListings %}
            <br><h3>Nesākušās izsoles:</h3>
            {% for listing in waitingListings %}
                <a id="listing{{listing.id}}">
                    <div class="listing">
                        <h4>{{listing.name}}</h4><br>
                        <h5>{{listing.description}}</h5><br>
                        Cena: {{"%.2f"|format(listing.price|float)}}<br>
                        Kāpums: {{"%.2f"|format(listing.priceIncrease|float)}}<br>
                    </div>
                </a>
                <a href="/prece/iziet/{{listing.id}}">
                    <button>iziet</button> <br>
                </a>
            {% endfor %}
    {% endif %}
    {% if endedListings %}
        <br><h3>Beigušās izsoles:</h3>
        {% for i in range(endedListings|length) %}
            <div class="listing">
                <h4>{{ endedListings[i].name }}</h4>
                <h5>{{ endedListings[i].description }}</h5>
                Cena: {{"%.2f"|format(endedTransactions[i].price|float)}}<br>
                Sākuma datums: {{endedListings[i].auctionTime}} <br>
                {% if endedTransactions[i].winner %}
                    <h4 style="color: green;">Tu šo izsoli uzvarēji!</h4>
                    {% if not endedTransactions[i].paid %}
                        <a href="/prece/samaksa/{{endedTransactions[i].id}}">apmaksāt</a><br>
                        Pārdevēja numurs: {{transSeller[i].phone}}
                    {% endif %}
                {% else %}
                    <h4 style="color: red;">Šajā izsolē bija cits uzvarētājs!</h4>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% if not endedListings %}
            {% if not activeListings %}
                {% if not waitingListings %}
                    <h2>Tavā pirkšanas vēsturē nekas nav</h2>
                {% endif %}
            {% endif %}
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% for listing in listings %}
                document.getElementById("listing{{listing.id}}").addEventListener("click", function() {
                    var overlay = document.createElement("div");
                    overlay.id = "overlay{{listing.id}}";
                    overlay.classList.add("overlay");
    
                    var listingInfo = document.createElement("div");
                    listingInfo.classList.add("listing-info");
    

    
                    // Listing name
                    var listingName = document.createElement("h1");
                    listingName.classList.add("name");
                    listingName.textContent = "{{listing.name}}";
                    listingInfo.appendChild(listingName);
    
                    // Listing description
                    var listingDescription = document.createElement("h3");
                    listingDescription.classList.add("description");
                    listingDescription.textContent = "{{listing.description}}";
                    listingInfo.appendChild(listingDescription);
    
                    // Listing image
                    var listingImage = document.createElement("img");
                    listingImage.src = "{{listing.image}}";
                    listingImage.style.width = "256px";
                    listingImage.style.height = "256px";
                    listingImage.style.objectFit = "cover";
                    listingInfo.appendChild(listingImage);

                    overlay.appendChild(listingInfo);
                    document.body.appendChild(overlay);
    
                    overlay.addEventListener("click", function(e) {
                        if (e.target === overlay) {
                            document.body.removeChild(overlay);
                        }
                    });
                });
            {% endfor %}
        });
    </script>
</center>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
    setInterval(function() {
        {{ids}}.forEach(id =>
            $.ajax({
            url: "/prece/db/refresh/get/specific/"+id,
            type: "GET", 
            success: function(data) {
                $.each(data, function(index, listing) {
                var row = $("div[data-id='" + listing.id + "']");
                if(document.getElementById("Price"+listing.ident)){
                    var price = Math.round(listing.price * 100) / 100; // Round to 2 decimal places
                    if (price % 1 === 0) {
                    price = price.toFixed(2); // Add trailing zeros for whole numbers
                    }
                    document.getElementById("Price" + listing.ident).innerHTML = "Cena: " + price;
                }           
                });
            }
            }));
    }, 100);
    });
</script>
{% endblock %}