{% extends 'template.html' %}

{% block content %} 

<center>
    {% if current_user.id == listing.userID %}
        <a href="/prece/rediget/{{listing.id}}">rediģēt</a> <br>
    {% endif %}
    {% if listing.auctionStatus == 1 and not current_user.id == listing.userID %}
        <a href="/prece/pievienoties/{{listing.id}}">
            <div class="joinAuction">Pievienoties izsolei</div>
        </a>
    {% endif %}
    <h2>{{listing.name}}</h2>
    <h3>{{listing.description}}</h3>
    <img class="listingImage" src="{{listing.image}}">
</center>


<style>

.listingImage
{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}
.listingImage:active
{
    width: 30vw;
    height: auto;
}

.joinAuction
{
    padding: 15px;
    width: 50%;
    background-color:#4267B2;
    color: white;
}
</style>
{% endblock %}