{% extends 'template.html' %}


{% block pieslegties %}active{% endblock %}

{% block content %} 
<div style="height: 100%; width:100%;">
    <center>
        <h1>Pieslēgties</h1>
        <form method="post">
            <input class="formInput" type="text" placeholder="Lietotājvārds vai e-pasts" name="username" value="{{ request.form['username'] }}"> <br>
            <input class="formInput" type="password" placeholder="Parole" name="password" value="{{ request.form['password'] }}"> <br>
            <input class="formButton" type="submit" value="Pieslēgties">
        </form>
        <h2>Neesi vēl reģistrējies?
        reģistrējies <a href="{{url_for('auth.register')}}">šeit</a>!</h2>
    </center>
</div>

<style>
    .formInput 
    {
        margin-bottom: 5px;
        width: 50%;
        height:50px;
        font-size:larger; 
        border-radius: 5px;
    }
    .formButton
    {
        margin-bottom: 5px;
        width: 20%;
        height:50px;
        text-align: center; 
        font-size:larger; 
        border-radius: 5px;  
    }
</style>
{% endblock %}