{% extends 'template.html' %}

{% block content %} 
<div style="width:100%;">
    <center>
        <h1>Reģistrācija</h1>
        <form method="post">
            <input 
            class="formInputsm" 
            type="text" 
            placeholder="Vārds" 
            name="name" value="{{ request.form['name'] }}" 
            required 
            oninvalid="this.setCustomValidity('Lūdzu ievadiet savu vārdu')"
            oninput="this.setCustomValidity('')">
            
            <input 
            class="formInputsm"
            type="text" 
            placeholder="Uzvārds" 
            name="surname" 
            value="{{ request.form['surname'] }}" 
            required
            oninvalid="this.setCustomValidity('Lūdzu ievadiet savu uzvārdu')"
            oninput="this.setCustomValidity('')"> <br>
            
            <input 
            class="formInput" 
            type="text" 
            placeholder="Telefons xxxxxxxx"
            name="phone" 
            value="{{ request.form['phone'] }}" 
            required
            oninvalid="this.setCustomValidity('Lūdzu ievadiet savu telefona numuru (formāts: xxxxxxxx)')"
            oninput="this.setCustomValidity('')"> <br>
           
            <input 
            class="formInput" 
            type="text" 
            placeholder="Lietotājvārds" 
            name="username" 
            value="{{ request.form['username'] }}" 
            required
            oninvalid="this.setCustomValidity('Lūdzu ievadiet savu vēlamo lietotājvārdu')"
            oninput="this.setCustomValidity('')"> <br>
            
            <input 
            class="formInput"
            type="password" 
            placeholder="Parole" 
            name="password" 
            value="{{ request.form['password'] }}" 
            required
            oninvalid="this.setCustomValidity('Lūdzu ievadiet vēlamo paroli')"
            oninput="this.setCustomValidity('')"> <br>
            
            <input 
            class="formInput" 
            type="password" 
            placeholder="Parole atkārtoti" 
            name="repeatPassword" 
            value="{{ request.form['repeatPassword'] }}" 
            required
            oninvalid="this.setCustomValidity('Vēlamā parole jāatkārto otro reizi')"
            oninput="this.setCustomValidity('')"> <br>
           
            <input class="formButton" type="submit" value="Reģistrēties">
        </form>
        <h2>Esi jau reģistrējies?
        ienāc <a href="{{url_for('auth.login')}}">šeit</a>!</h2>
    </center>
</div>

<style>
    .formInput 
    {
        margin-bottom: 5px;
        width: 50%;
        height:50px;
        font-size:larger;
        border-radius: 5px;
    }
    .formInputsm
    {
        margin-bottom: 5px;
        width: 24.5%;
        height:50px;
        font-size:larger;
        border-radius: 5px;
    }
    .formButton
    {
        margin-bottom: 5px;
        margin-top: 5px;
        width: 20%;
        height:50px;
        text-align: center;  
        font-size:larger; 
        border-radius: 5px;
    }
</style>
{% endblock %}