{% extends 'template.html' %}

{% block content %} 
<div style="width:100%;">
    <center>
        <h1>Reģistrācija</h1>
        <form method="post">
            <input class="formInput" type="text" placeholder="Lietotājvārds" name="username" value="{{ request.form['username'] }}"> <br>
            <input class="formInput" type="password" placeholder="Parole" name="password" value="{{ request.form['password'] }}"> <br>
            <input class="formInput" type="password" placeholder="Parole atkārtoti" name="repeatPassword" value="{{ request.form['repeatPassword'] }}"> <br>
            <input class="formButton" type="submit" value="Reģistrēties">
        </form>
        Esi jau reģistrējies?
        ienāc <a href="{{url_for('auth.login')}}">šeit</a>!
    </center>
</div>

<style>
    .formInput 
    {
        margin-bottom: 5px;
        width: 50%;
        height:25px;
    }
    .formButton
    {
        margin-bottom: 5px;
        width: 20%;
        height:25px;
        text-align: center;   
    }
</style>
{% endblock %}