{% extends 'template.html' %}


<!-- title -->

{% block title %} 

    {% if listings %}
    Izsoles
    {% endif %}

{% endblock %}

{% block heading %}

<style>
    a
    {
        text-decoration: none;
        color: #ADA8BE;
    }
    .listing
    {
        background-color: transparent;
        width: 80%;
        height: 256px;
        margin-top: 5%;
        height: 150%;
    }

    hr
    {
        border-bottom:none;
        border-left: none;
        border-right: none;
        border-top-width: 3px;
        border-top-color: black;
        background-color: black;
    }

    .listingImage
    {
        float: left; 
        width: 256px;
    }

    .listingInfo
    {
        overflow: hidden; 
        padding-left: 2vw;
        padding-bottom: 1vh;
        text-align:left;
        text-decoration: none;
    }
    .name {
        margin-top: 0px;
    }
    .startPrice
    {
        color: #A28497;
        text-decoration: none;
    }

    .priceIncrease
    {
        color: #A28497;
        text-decoration: none;
    }

    .auctionDate
    {
        color: #A28497; 
        text-decoration: none;
    }

    .info
    {
        color: #A28497;
        text-decoration: none;  
    }

    .description
    {
        word-break:keep-all;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(150, 150, 150);
    }
    .joinAuction
    {
        padding: 15px;
        margin-top: 10px;
        width: fit-content;
        background-color:#4267B2;
        color: white;
    }
    .joinAuction:hover
    {
        background-color:#1d489e;
    }
    .joinAuction:active
    {
        background-color:#0e388b;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .listing-info {
        background-color: white;
        padding: 20px;
        max-width: 500px;
        border-radius: 5px;
        text-align: center;
      }
</style>

{% endblock %}

<!-- content -->

{% block content %} 
    
<center>
    {% if not listings %}
     <h2>Nav publicēta neviena izsole!</h2>
        {% if current_user.name %}
            <h3>Publicē savējo
                <a style="color:#0645AD;"href="{{url_for('listing.new')}}">šeit!</a>
            </h3>
        {% else %}
            <h3>
                <a style="color:#0645AD;" href="{{url_for('auth.register')}}">Pievienojies</a>
                 un publicē savējo!
            </h3>
        {% endif %}
    {% endif %}
    {% for number in range(1, pageAmount) %}
        {% if number == page + 1 %}
            <a style="color:#691069; text-decoration: underline;" href="/izsoles/{{number}}">{{number}}</a>
        {% else %}
            <a href="/izsoles/{{number}}">{{number}}</a>
        {% endif %}
    {% endfor %}
    {% for listing in listings %}
        <a id="listing{{listing.id}}">
            <div class="listing">
                <div class="listingImage">
                    <img 
                    src="{{listing.image}}" 
                    id="image{{listing.id}}"
                    width= "256px"
                    height = "256px"
                    style="object-fit: cover;">
                </div>
                <div class="listingInfo">
                    <h1 class="name" id="name{{listing.id}}">{{listing.name}}</h1>
                    
                    {% if listing.description|length > 50 %}
                        <h3 class="description" id="description{{listing.id}}">{{listing.description[:50]}} ...</h3>
                    {% else %}
                        <h3 class="description" id="description{{listing.id}}">{{listing.description[:50]}}</h3>
                    {% endif %}       
                    <h3><span class="info">Sākuma cena: </span><span class="startPrice" id="startPrice{{listing.id}}">{{listing.startPrice}}</span></h3>
                    <h3><span class="info">Cenas kāpums: </span><span class="priceIncrease" id="priceIncrease{{listing.id}}">{{listing.priceIncrease}}</span></h3>
                    <h3><span class="Date">Izsoles laiks: {{listing.auctionTime}}</span></h3>
                    <h3><span class="info">Izsoles statuss:     
                    </span><span class="auctionDate" id="auctionStatus{{listing.id}}">
                        {% if listing.auctionStatus == 0 %}
                            izsole gaida
    
                        {% elif listing.auctionStatus == 1 %}
                            izsole sākas
                        {% elif listing.auctionStatus == 2 %}
                            Izsole sākusies
                        {% else %}
                            izsole beidzās
                        {% endif %}
                    </span></h3><br>
                </div>
            </div>
        </a> <br>
    {% endfor %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% for listing in listings %}
                document.getElementById("listing{{listing.id}}").addEventListener("click", function() {
                    var overlay = document.createElement("div");
                    overlay.id = "overlay{{listing.id}}";
                    overlay.classList.add("overlay");
    
                    var listingInfo = document.createElement("div");
                    listingInfo.classList.add("listing-info");
    

    
                    // Listing name
                    var listingName = document.createElement("h1");
                    listingName.classList.add("name");
                    listingName.textContent = "{{listing.name}}";
                    listingInfo.appendChild(listingName);
    
                    // Listing description
                    var listingDescription = document.createElement("h3");
                    listingDescription.classList.add("description");
                    listingDescription.textContent = "{{listing.description}}";
                    listingInfo.appendChild(listingDescription);
    
                    // Listing image
                    var listingImage = document.createElement("img");
                    listingImage.src = "{{listing.image}}";
                    listingImage.style.width = "256px";
                    listingImage.style.height = "256px";
                    listingImage.style.objectFit = "cover";
                    listingInfo.appendChild(listingImage);

                    overlay.appendChild(listingInfo);
                    document.body.appendChild(overlay);
    
                    overlay.addEventListener("click", function(e) {
                        if (e.target === overlay) {
                            document.body.removeChild(overlay);
                        }
                    });
                });
            {% endfor %}
        });
    </script>
    
    <div style="margin-top: 5%;">
        {% for number in range(1, pageAmount) %}
            {% if number == page + 1 %}
                <a style="color:#691069; text-decoration: underline;" href="/izsoles/{{number}}">{{number}}</a>
            {% else %}
                <a href="/izsoles/{{number}}">{{number}}</a>
            {% endif %}
        {% endfor %}
    </div>
</center>

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
    setInterval(function() {
        $.ajax({
        url: "prece/db/refresh/get/{{page}}",
        type: "GET", 
        success: function(data) {
             $.each(data, function(index, listing) {
            var row = $("div[data-id='" + listing.id + "']");
            if(document.getElementById("name"+listing.ident)){
                document.getElementById("name"+listing.ident).innerHTML = listing.name;
                document.getElementById("image"+listing.ident).src = listing.image;
                var username = '{{current_user.username}}';
                var id = '{{current_user.id}}';
                console.log('id: '+id);
                console.log('user: '+listing.user);
                if(listing.auctionStatus === 0)
                {
                    document.getElementById('auctionStatus'+listing.ident).innerHTML = "izsole gaida";
                }
                else if(listing.auctionStatus === 1)
                {
                    if(username)
                    {
                        if(Number(id) === Number(listing.user))
                        {
                            document.getElementById("auctionStatus"+listing.ident).innerHTML = "izsole sākas";
                        }
                        else
                        {
                            document.getElementById("auctionStatus"+listing.ident).innerHTML = "izsole sākas <a href='/prece/pievienoties/"+listing.ident+"'><div class='joinAuction'>Pievienoties izsolei</div></a><br>";
                        }
                    }
                    else
                    {
                        document.getElementById("auctionStatus"+listing.ident).innerHTML = "izsole sākas";
                    }
                }
                else if(listing.auctionStatus === 2)
                {
                    var element = document.getElementById("listing"+listing.ident);
                    element.remove();
                    document.getElementById("auctionStatus"+listing.ident).innerHTML = "izsole sākusies";
                }
                else
                {
                    var element = document.getElementById("listing"+listing.ident);
                    element.remove();
                    document.getElementById("auctionStatus"+listing.ident).innerHTML = "izsole beidzās";
                };
            }   
            });
        }
        });
    }, 1000);
    });
</script>
{% endblock %}