<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Socket Example</title>
  </head>
  <body>
    <h1>Socket Example</h1>
    <div id="messages"></div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const messageDiv = document.getElementById('messages');
      
      socket.on('connect', function() {
        messageDiv.innerHTML += '<p>Connected to server</p>';
      });
      
      socket.on('message', function(data) {
        messageDiv.innerHTML += '<p>' + data + '</p>';
      });
      
      socket.on('disconnect', function() {
        messageDiv.innerHTML += '<p>Disconnected from server</p>';
      });
    </script>
  </body>
</html>
