{% extends 'template.html' %}


{% block profils %}active{% endblock %}

{% block content %} 
<style>
    .formInput 
    {
        margin-bottom: 5px;
        width: 50%;
        height:50px;
        font-size:larger; 
        border-radius: 5px;
    }
    .formButton
    {
        margin-bottom: 5px;
        width: 20%;
        height:50px;
        text-align: center; 
        font-size:larger; 
        border-radius: 5px;  
    }
</style>
<center>
    <h1>{{current_user.username}}</h1>
    {% if not current_user.isVerified %}
        Tu neesi verificēts!<br>
        <form method="POST" action="/verify">
            <h2>Verificējies!</h2>
            <input 
                class="formInput"
                maxlength="12"
                type="text" 
                placeholder="Verifikācijas kods" 
                name="code" 
                value="{{ request.form['code'] }}" 
                required> <br>
            <input class="formButton" type="submit" value="verificēties">
        </form>
        <br>
        <br>
        <h3>Verifikācijas kods: {{current_user.verificationCode}}</h3>
    {% else %}
        Tu esi verificēts!
        {% if not current_user.bankAccount %}
            <h4>Lai varētu saņemt naudu par saviem ievietojumiem, vajag pievienot savu bankas informāciju!</h4>
            <form method="POST" action="/lietotajs/add-bank">
                <h2>Pievienot banku!</h2>
                <input 
                    class="formInput"
                    maxlength="12"
                    type="text" 
                    placeholder="Konta numurs" 
                    name="bankAccount" 
                    value="{{ request.form['bankAccount'] }}" 
                    required> <br>
                
                <input 
                    class="formInput"
                    maxlength="12"
                    type="text" 
                    placeholder="Konta īpašnieka vārds" 
                    name="bankName" 
                    value="{{ request.form['bankName'] }}" 
                    required> <br>

                <input 
                    class="formInput"
                    maxlength="12"
                    type="text" 
                    placeholder="Konta īpašnieka uzvārds" 
                    name="bankSurname" 
                    value="{{ request.form['bankSurname'] }}" 
                    required> <br>
                <input class="formButton" type="submit" value="pievienot">
            </form> 
        {% endif %}
    {% endif %}
    <hr style="width: 60%;">

    <h2>Mani ievietojumi</h2>
    {% if not ongoingListings and not waitingListings and not endedListings %}
        <h3>Tu vēl neko neesi ievietojis!</h3>
    {% endif %}
    {% if ongoingListings %}
        <h3>Šobrīd tiek izsolīts</h3>
        {% for listing in ongoingListings %}
            {{listing.name}}
            {{listing.startingPrice}}
            {{listing.price}}
        {% endfor %}
    {% endif %}

    {% if waitingListings %}
        <h3>Izsoles kas gaida</h3>
        {% for listing in waitingListings %}
            {{listing.name}}
            {{listing.startingPrice}}
            {{listing.price}}
        {% endfor %}
    {% endif %}

    {% if endedListings %}
    <h3>Beigušās izsoles</h3>
        {% for listing in endedListings %}
            {{listing.name}}<br>
        {% endfor %}
    {% endif %}
</center>
{% endblock %}