{% extends 'template.html' %}


{% block profils %}active{% endblock %}

{% block content %} 
<style>
    .formInput 
    {
        margin-bottom: 5px;
        width: 50%;
        height:50px;
        font-size:larger; 
        border-radius: 5px;
    }
    .formButton
    {
        margin-bottom: 5px;
        width: 20%;
        height:50px;
        text-align: center; 
        font-size:larger; 
        border-radius: 5px;  
    }

    .warning
    {
        background-color: rgb(255, 94, 94);
        color:rgb(60, 0, 0);
        width: 50%;
        padding: 10px;
        margin-top: 20px;
        border-radius: 8px;
    }
</style>
<center>
    <h1>{{current_user.username}}</h1>
    <span><a href="{{url_for('user.edit_profile')}}">rediģēt profilu</a></span><br>
    {% if not current_user.isVerified %}
        Tu neesi verificēts!<br>
        <form method="POST" action="/verify">
            <h2>Verificējies!</h2>
            <input 
                class="formInput"
                maxlength="12"
                type="text" 
                placeholder="Verifikācijas kods" 
                name="code" 
                value="{{ request.form['code'] }}" 
                required> <br>
            <input class="formButton" type="submit" value="verificēties">
        </form>
        <br>
        <br>
        <h3>Verifikācijas kods: {{current_user.verificationCode}}</h3><br>
    {% else %}
        {% if not current_user.bankAccount %}
            <h4>Lai varētu saņemt naudu par saviem ievietojumiem, vajag pievienot savu bankas informāciju!</h4>
            <form method="POST" action="/lietotajs/add-bank">
                <h2>Pievienot banku!</h2>
                <input 
                    class="formInput"
                    maxlength="25"
                    type="text" 
                    placeholder="Konta numurs" 
                    name="bankAccount" 
                    value="{{ request.form['bankAccount'] }}" 
                    required> <br>
                
                <input 
                    class="formInput"
                    maxlength="64"
                    type="text" 
                    placeholder="Konta īpašnieka vārds" 
                    name="bankName" 
                    value="{{ request.form['bankName'] }}" 
                    required> <br>

                <input 
                    class="formInput"
                    maxlength="64"
                    type="text" 
                    placeholder="Konta īpašnieka uzvārds" 
                    name="bankSurname" 
                    value="{{ request.form['bankSurname'] }}" 
                    required> <br>
                <input class="formButton" type="submit" value="pievienot">
            </form> 
        {% endif %}
    {% endif %}
    <hr style="width: 60%;">

    <h2>Mani ievietojumi</h2>
    {% if not ongoingListings and not waitingListings and not endedListings %}
        <h3>Tu vēl neko neesi ievietojis!</h3>
    {% endif %}
    {% if endedListings or waitingListings or ongoingListings %}
        {% if not current_user.bankAccount %}

        <div class="warning">
            <h3>Brīdinājums</h3>
            Nesaņemsi naudu par izsoli, ja nebūs pievienota bankas<br>
            konta informācija. Pievieno to savā profilā!
        </div>
        {% endif %}
    {% endif %}
    {% if ongoingListings %}
        <h3>Šobrīd tiek izsolīts</h3>
        {% for listing in ongoingListings %}
            <div id="listing{{listing.id}}">
                {{listing.name}}
            </div><br>
        {% endfor %}
    {% endif %}

    {% if waitingListings %}
        <h3>Izsoles kas gaida</h3>
        {% for listing in waitingListings %}
            <div id="listing{{listing.id}}">
                {{listing.name}}
            </div><br>
        {% endfor %}
    {% endif %}

    {% if endedListings %}
    <h3>Beigušās izsoles</h3>
        {% for listing in endedListings %}
            <div id="listing{{listing.id}}">
                {{listing.name}}
            </div><br>
        {% endfor %}
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% for listing in listings %}
                document.getElementById("listing{{listing.id}}").addEventListener("click", function() {
                    var overlay = document.createElement("div");
                    overlay.id = "overlay{{listing.id}}";
                    overlay.classList.add("overlay");
    
                    var listingInfo = document.createElement("div");
                    listingInfo.classList.add("listing-info");
    

    
                    // Listing name
                    var listingName = document.createElement("h1");
                    listingName.classList.add("name");
                    listingName.textContent = "{{listing.name}}";
                    listingInfo.appendChild(listingName);
    
                    // Listing description
                    var listingDescription = document.createElement("h3");
                    listingDescription.classList.add("description");
                    listingDescription.textContent = "{{listing.description}}";
                    listingInfo.appendChild(listingDescription);
    
                    // Listing image
                    var listingImage = document.createElement("img");
                    listingImage.src = "{{listing.image}}";
                    listingImage.style.width = "30%";
                    listingImage.style.objectFit = "cover";
                    listingInfo.appendChild(listingImage);

                    {% if current_user.id == listing.userID or current_user.isAdmin %}
                        var br = document.createElement("br");
                        listingInfo.appendChild(br);


                        var link = document.createElement("a");
                        link.href = "/prece/rediget/{{listing.id}}";
                        link.textContent = "rediģēt";
                        listingInfo.appendChild(link);  
                    {% endif %}

                    overlay.appendChild(listingInfo);
                    document.body.appendChild(overlay);
    
                    overlay.addEventListener("click", function(e) {
                        if (e.target === overlay) {
                            document.body.removeChild(overlay);
                        }
                    });
                });
            {% endfor %}
        });
    </script>
</center>
{% endblock %}